* {
  margin: 0px;
  padding: 0px;
  color: black;
}

.twitch-tv-app {
  width: 100vw;
  background: linear-gradient(141deg, #0fb8ad 10%, #1fc8db 51%, #2cb5e8 75%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.users-list {
  width: 70vw;
  margin-top: 10px;
}

.user-item {
  width: 75vw;
  height: 10vh;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  border: 1px solid #fff;
}

img {
  width: 30px;
  height: 30px;
}
